<br/>
<br/>
<head>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.11/slick.css"/>
</head>
<form action="/productlists" method="get">
     <h5> Izaberi tag: </h5>  
     <select id="edit-type" name="selectedTag" class="form-select">
          {% for tag in items.allTags %}
          <option selected="selected" value={{ tag }} >{{ tag }}</option>
          {% endfor %}
     </select>
     <p>Unesi title:</p>
     <input type="text" name="title_filter" value="" placeholder="Search">
     <input type="submit" value="submit" />
</form>
<br/>
<br/>
<body>
{% if items.allProducts is empty %} 
     <p> Nema rezultata za unete kriterijume. </p>
{% endif %}

{% for product in items.allProducts %}
   
     <h3>{{ product.title}}</h3>
     <h5>Description:</h5> {{ product.description | raw}}

          {% for image in product.image %}
               <img src="{{ file_url(image) }}"/>
          {% endfor %}
  
     <h5>Tags:</h5>
          {% for tag in product.tags %}
               {{ tag | t}}
          {% endfor %}
     <hr>
{% endfor %}

</br>

{{ pager }}

</body> 

    
